@model IEnumerable<Core_1.ViewModels.ClientViewModel>
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" charset="utf-8" />
    <title>Index</title>
</head>
<body>
    <a asp-action="Edit" class="btn btn-success">Добавить</a>
    <table  class="table table-bordered">
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.FirstName</td>
            <td>@item.SurName</td>
            <td>@item.Status</td>
            <td>@Html.ActionLink("Детали", "Client", new { id = item.Id })</td>
            <td><a asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-edit"></i></a></td>
            <td><a asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-cut"></i></a></td>
        </tr>
        }
    </table>
    @Html.ActionLink("На главную", "Index", "Home")
</body>
</html>