@model Core_1.ViewModels.ClientViewModel

@Html.ActionLink("Назад к списку", "ClientList", "Client")

<table class="table table-bordered">
    <tr>
        <td>Id</td>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <td>Фамилия</td>
        <td>@Model.SurName</td>
    </tr>
    <tr>
        <td>Имя</td>
        <td>@Model.FirstName</td>
    </tr>
    <tr>
        <td>Город</td>
        <td>@Model.City</td>
    </tr>
    <tr>
        <td>Статус</td>
        <td>@Model.Status</td>
    </tr>
    <tr>
        <td>Дата регистрации</td>
        <td>@Model.RegistrationDate</td>
    </tr>
</table>
