@model IEnumerable<Core_1.ViewModels.ClientViewModel>
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" charset="utf-8" />
    <title>Index</title>
</head>
<body>
    <table>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.FirstName</td>
                <td>@item.SurName</td>
                <td>@item.Status</td>
                <td>@Html.ActionLink("Детали", "Client", new { id = item.Id })</td>
            </tr>
        }
    </table>
    @Html.ActionLink("На главную", "Index", "Home")
</body>
</html>